---
title: Design
weight: 2
---

# Proposed data model

This is data model that we are aiming for, which is designed to accommodate
new business cases as quickly and easily as possible. The 'as is' data model
will continue to evolve over time to align with this data model.

<%= partial 'partials/mermaid' %>

<div class="mermaid">
classDiagram

    funding_applications ..> organisations : 0..* to 1
    funding_applications <.. funding_applications_addresses : 1..* to 1
    users ..> people : 0..1 to 1
    users ..> user_organisations : 1 to 1..*
    user_organisations ..> organisations : 1 to 1
    people <.. people_addresses : 1..* to 1
    funding_applications_people ..> funding_applications : 0..* to 1
    people_declarations ..> declarations : 1 to 1
    people_declarations ..> people : 0..* to 1
    funding_application_dclrtns ..> funding_applications : 0..* to 1
    funding_application_dclrtns ..> declarations : 1 to 1
    funding_applications_addresses ..> addresses : 1 to 1
    organisations_addresses ..> addresses : 1 to 1
    people_addresses ..> addresses : 1 to 1
    organisations <.. organisations_addresses : 1..* to 1
    organisations <.. organisations_org_types: 1..* to 1
    organisations_org_types ..> org_types: 1 to 1
    organisation_missions ..> organisations: 1..* to 1
    missions ..> organisation_missions : 0..* to 1
    outcomes..> outcome_types : 1 to 1
    outcomes..> funding_applications : 1..* to 1
    costs ..> cost_types : 1 to 1
    costs ..> funding_applications : 1..* to 1
    cash_contributions ..> secured_types : 1 to 1
    cash_contributions ..> funding_applications : 0..* to 1
    projects ..> permission_types : 1 to 1
    projects ..> funding_applications : 0..1 to 1
    non_cash_contributions ..> funding_applications : 0..* to 1
    volunteers ..> funding_applications : 0..* to 1
    supporting_evidence ..> funding_applications : 0..* to 1
    projects ..> funding_applications : 0..* to 1
    people <.. funding_applications_people : 1..* to 1
    funding_applications_people ..> relationship_types : 1 to 1
    payment_details ..> funding_applications : 0..* to 1
    pre_applications ..> organisations : 0..* to 1
    pre_applications ..> heard_about : 1 to 0..1
    pre_applications_people ..> pre_applications : 0..* to 1
    pre_applications_dclrtns ..> pre_applications : 0..* to 1
    pre_applications_dclrtns ..> declarations : 1 to 1
    pre_applications_people ..> people : 1..* to 1
    pre_applications_people ..> relationship_types : 1 to 1
    pa_project_enquiries ..> pre_applications : 0..1 to 1
    pa_expressions_of_interest ..> pre_applications : 0..1 to 1

    gp_open_medium ..> funding_applications : 0..* to 1
    gp_open_medium ..> permission_types : 1 to 1
    gp_open_medium <.. gp_o_m_heritage_dsgntns : 0..* to 1..*
    gp_o_m_heritage_dsgntns ..> heritage_designations : 0..* to 1


   class funding_applications {
      id: UUID **PK**
      project_reference_number: String
      salesforce_case_id: String
      salesforce_case_number: String
      submitted_on: String
      organisation: UUID **FK**
      created_at: Timestamp
      updated_at: Timestamp
	}
    class outcomes{
      id: UUID **PK**
      application_id: UUID **FK**
      outcome_type: Integer **FK**
      description: Text
      created_at: Timestamp
      updated_at: Timestamp
    }
    class outcome_types{
      id: Integer **PK**
      name: String
      created_at: Timestamp
      updated_at: Timestamp
    }
    class organisations{
      id: UUID **PK**
      name: String
      org_type: Integer
      company_number: String
      charity_number: String
      charity_number_ni: String
      salesforce_account_id: String
      main_purpose_and_activities: Text
      board_members_or_trustees: Integer
      vat_registered: Boolean
      vat_number: String
      social_media_info: Text
      created_at: Timestamp
      updated_at Timestamp
    }
    class user_organisations{
    id: UUID **PK**
    user_id: UUID **FK**
    organisation_id: UUID **FK**
    }
    class users{
      id: UUID **PK**
      person_id: UUID **FK**
      organisation_id: UUID **FK**
      email: String
      encrypted_password: String
      reset_password_token: String
      reset_password_sent_at: Timestamp
      remember_created_at: Timestamp
      confirmation_token: String
      confirmed_at: Timestamp
      confirmation_sent_at: Timestamp
      unconfirmed_email: String
      created_at: Timestamp
      updated_at : Timestamp
    }
    class people {
      id: UUID **PK**
      name: String
      date_of_birth: Date
      email: String
      phone_number: String
      alt_phone_number: String
      communication_needs: String
      language_preference: String
      created_at: Timestamp
      updated_at: Timestamp
    }
    class org_types{
      id: Integer **PK**
      name: String
      created_at: Timestamp
      updated_at: Timestamp
    }
    class organisation_missions{
      id : UUID **PK*
      organisation_id: UUID **FK**
      created_at: Timestamp
      updated_at: Timestamp
    }
    class missions{
      id: Integer **PK**
      organision_mission_id: UUID **FK**
      name: String
      created_at: Timestamp
      updated_at: Timestamp
    }
    class volunteers{
      id: UUID **PK**
      application_id: UUID **FK**
      hours: Integer
      description: Text
      created_at: Timestamp
      updated_at: Timestamp
    }
    class non_cash_contributions{
      id: UUID **PK**
      application_id: UUID **FK**
      amount: Float
      description: Text
      created_at: Timestamp
      updated_at: Timestamp
    }
    class cash_contributions{
      id: UUID **PK**
      application_id: UUID **FK**
      amount: Float
      description: Text
      secured_type_id: Integer
      created_at: Timestamp
      updated_at: Timestamp
    }
    class supporting_evidence{
      id: UUID **PK**
      application_id: UUID **FK**
      description: Text
      created_at: Timestamp
      updated_at: Timestamp
    }
    class secured_types{
      id: Integer **PK**
      name: String
      created_at: Timestamp
      updated_at: Timestamp
    }
    class costs{
      id: UUID **PK**
      application_id: UUID **FK**
      cost_type: Integer **FK**
      amount: Float
      description: Text
      created_at : Timestamp
      updated_at : Timestamp
    }
    class cost_types{
      id: Integer **PK**
      name: String
      created_at: Timestamp
      updated_at: Timestamp
    }
    class addresses{
      id: UUID **PK**
      line1: String
      line2: String
      line3: String
      townCity: String
      County: Sting
      postcode: String
      udprn: String
      lat: String
      long: String
      created_at: Timestamp
      updated_at: Timestamp
    }
    class projects{
      id: UUID **PK**
      funding_application_id: UUID **FK**
      title: String
      difference_description: Text
      community_description: Text
      best_placed_description: Text
      capital_work: Boolean
      heritage_description: Text
      description: Text
      start_date: Date
      end_date: Date
      is_partnership: Boolean
      partnership_details: Text
      permission_type: id
      permission_description: Text
      created_at: Timestamp
      updated_at: Timestamp
    }

    class gp_open_medium {

      id: UUID **PK**
      title: String
      start_date: Date
      end_date: Date
      description: Text
      difference_description: Text
      community_description: Text
      heritage_description: Text
      best_placed_description: Text
      permission_type: id
      permission_description: Text
      capital_work: Boolean
      is_partnership: Boolean
      partnership_details: Text 

      acquisitions_description: Text
      heritage_at_risk: Boolean
      heritage_at_risk_description: Text
      heritage_formal_designation_description: Text
      heritage_attracts_visitors: Boolean
      visitors_in_last_financial_year: Integer
      visitors_expected_per_year: Integer
      potential_problems_description: Text
      management_description: Text
      evaluation_description: Text
      jobs_or_apprenticeships_description: Text
      acknowledgement_description: Text
      received_advice_description: Text
      first_fund_application: Boolean
      recent_project_reference_number: String
      recent_project_title: String
      why_now_description: Text
      environmental_impacts_description: Text
      acquisition: Boolean
      hd_grade_1_description: Integer
      hd_grade_2_b_description: Integer
      hd_grade_2_c_description: Integer
      hd_local_list_description: Integer
      hd_monument_description: Integer
      hd_historic_ship_description: Text
      hd_grade_1_park_description: Text
      hd_grade_2_park_description: Text
      hd_grade_2_star_park_description: Text
      hd_other_description: Text
      ownership_type: String
      ownership_type_org_description: Text
      ownership_type_pp_description: Text
      ownership_type_neither_description: Text

      funding_application_id: UUID **FK**
      created_at: Timestamp
      updated_at: Timestamp

    }

    class gp_o_m_heritage_dsgntns {
      id: UUID **PK**
      gp_open_medium_id: UUID **FK**
      heritage_designation_id: UUID **FK**
      created_at: Timestamp
      updated_at: Timestamp
    }

    class heritage_designations {
      id: UUID **PK**
      designation: String
      created_at: Timestamp
      updated_at: Timestamp
    }

    class permission_types{
      id: Integer **PK**
      name: String
      created_at: Timestamp
      updated_at: Timestamp
    }
    class funding_applications_people{
      id: UUID **PK**
      person_id: UUID **FK**
      funding_application_id: UUID **FK**
      relationship: Integer **FK*
      created_at: Timestamp
      updated_at: Timestamp
    }
    class people_declarations{
      id: UUID **PK**
      person_id: UUID **FK**
      declaration_id: UUID **FK*
      created_at: Timestamp
      updated_at: Timestamp
     }
    class relationship_types{
      id: integer **PK**
      name: String
      created_at: Timestamp
      updated_at: Timestamp
    }
    class declarations{
      id: UUID **PK**
      declaration_type: String
      json: JSONB
      version: integer
      created_at: Timestamp
      updated_at: Timestamp
    }
    class funding_application_dclrtns{
      id: UUID **PK**
      application_id: UUID **FK**
      declaration_id: UUID **FK**
      created_at: Timestamp
      updated_at: Timestamp
    }
    class funding_applications_addresses{
      id: UUID **PK**
      address_id: UUID **FK**
      funding_application_id: UUID **FK**
    }
    class organisations_addresses{
      id: UUID **PK**
      address_id: UUID **FK**
      organisation_id: UUID **FK**
    }
    class people_addresses{
      id: UUID **PK**
      address_id: UUID **FK**
      person_id: UUID **FK**
    }
    class organisations_org_types{
      id: UUID **PK**
      organisation_id: UUID **FK**
      org_type_id: UUID **FK**
      created_at: Timestamp
      updated_at: Timestamp
    }
      class payment_details{
      id: UUID **PK**
      account_name: String
      account_number: String
      sort_code: String
      funding_application_id_id: UUID **FK**
      created_at: Timestamp
      updated_at: Timestamp
    }
    class pre_applications {
      id: UUID **PK**
      project_reference_number: String
      salesforce_case_id: String
      salesforce_case_number: String
      submitted_on: String
      organisation: UUID **FK**
      heard_about_id: Integer **FK**
      heard_about_ff: String
      created_at: Timestamp
      updated_at: Timestamp
    }
    class pre_applications_people {
      id: UUID **PK**
      person_id: UUID **FK**
      pre_application_id: UUID **FK**
      relationship: Integer **FK*
      created_at: Timestamp
      updated_at: Timestamp
    }
    class heard_about {
      id: Integer **PK**
      name: String
    }
    class pre_applications_dclrtns {
      id: UUID **PK**
      application_id: UUID **FK**
      declaration_id: UUID **FK**
      created_at: Timestamp
      updated_at: Timestamp
    }
    class pa_project_enquiries {
      id: UUID **PK**
      pre_application_id: UUID **FK**
      previous_contact_name: String
      heritage_focus: String
      what_project_does: String
      programme_outcomes: String
      project_reasons: String
      project_participants: String
      project_timescales: String
      project_likely_cost: String
      potential_funding_amount: Integer
      created_at: Timestamp
      updated_at: Timestamp
    }
    class pa_expressions_of_interest {
      id: UUID **PK**
      pre_application_id: UUID **FK**
      heritage_focus: String
      what_project_does: String
      project_outcome: String
      project_reasons: String
      feasibility_or_options_work: String
      project_timescales: String
      overall_cost: String
      potential_funding_amount: Integer
      likely_submission_description: String
      created_at: Timestamp
      updated_at: Timestamp
    }
</div>
