---
title: Tech Docs
weight: 1
---

<%= partial 'documentation/index' %>

<%= warning_text(
"Please note that this documentation exists in the public domain. As a result,
ensure that you do not add any sensitive information (keys, passwords, etc.)
 into this repository.")
%>

<%= partial 'partials/mermaid' %>

<div class="mermaid">
classDiagram
	Fish <|-- Duck
	class Duck{
		+String beakColor
		+swim()
		+quack()
	}
  	class Fish{
		int sizeInFeet
		canEat()
	}
		class application{
      id: UUID **PK**
      declaration: Boolean
      declaration_description: Text
      declaration_keep_informed: Boolean
      declaration_user_research: Boolean
      project_reference_number: String
      salesforce_case_id: String
      salesforce_case_number: String
      submitted_on: String
      address: UUID **FK**
      created_at: Timestamp
      updated_at: Timestamp
	}
    class outcome{
      id: UUID **PK**
      application_id: UUID **FK**
      outcome: Integer **FK**
      description: Text
      created_at: Timestamp
      updated_at: Timestamp
    }
    class outcome_type{
      id: Integer **FK**
      name: String
      created_at: Timestamp
      updated_at: Timestamp
    }
    class organisation{
      id: UUID **PK**
      name: String
      org_type: Integer
      company_number: String
      charity_number: String
      charity_number_ni: String
      salesforce_account_id: String
      address: UUID **FK**
      created_at: Timestamp
      updated_at Timestamp
    }
    class user{
      id: UUID **PK**
      person_id: UUID **FK**
      organisation_id: UUID **FK**
      email: String
      encrypted_password: String
      reset_password_token: String
      reset_password_sent_at: Timestamp
      remember_created_at: Timestamp
      confirmation_token: String
      confirmed_at: Timestamp
      confirmation_sent_at: Timestamp
      unconfirmed_email: String
      created_at: Timestamp
      updated_at : Timestamp
    }
    class person{
      id: UUID **PK**
      name: String
      date_of_birth: Date
      email: String
      phone_number: String
      address: UUID **FK**
      legal_signatory: Boolean
      created_at: Timestamp
      updated_at: Timestamp
    }
    class organisation_type{
      id: Integer **PK**
      name: String
      created_at: Timestamp
      updated_at: Timestamp
    }
    class organisation_mission{
      organisation_id: UUID **PK**
      mission_id: UUID **PK**
      created_at: Timestamp
      updated_at: Timestamp
    }
    class volunteer{
      id: UUID **PK**
      application_id: UUID **FK**
      hours: Integer
      description: Text
      created_at: Timestamp
      updated_at: Timestamp
    }
    class non_cash_contribution{
      id: UUID **PK**
      application_id: UUID **FK**
      amount: Float
      description: Text
      created_at: Timestamp
      updated_at: Timestamp
    }
    class cash_contribution {
      id: UUID **PK**
      application_id: UUID **FK**
      amount: Float
      description: Text
      secured: Integer
      created_at: Timestamp
      updated_at: Timestamp
    }
    class supporting_evidence {
      id: UUID **PK**
      application_id: UUID **FK**
      description: Text
      created_at: Timestamp
      updated_at: Timestamp
    }
    class  mission{
      id: Integer **PK**
      name: String
      created_at: Timestamp
      updated_at: Timestamp
    }
    class secured_type{
      id: Integer **PK**
      name: String
      created_at: Timestamp
      updated_at: Timestamp
    }
    class cost_type{
      id: Integer **PK**
      name: String
      created_at: Timestamp
      updated_at: Timestamp
    }
    class address{
      id: UUID **PK**
      line1: String
      line2: String
      line3: String
      townCity: String
      County: Sting
      postcode: String
      udprn: String
      lat: String
      long: String
      created_at: Timestamp
      updated_at: Timestamp
    }
    class grant_programme_sff_os{
      id: UUID **PK**
      application_id: UUID **FK**
      title: String
      difference_description: Text
      matter_description: Text
      best_placed_description: Text
      capital_work: Boolean
      involvement_description: Text
      heritage_description: Text
      description: Text
      start_date: Date
      end_date: Date
      is_partnership: Boolean
      partnership_details: Text
      permission_type: id
      permission_description: Text
      created_at: Timestamp
      updated_at: Timestamp
    }
    class permission_type {
      id: Integer **PK**
      name: String
      created_at: Timestamp
      updated_at: Timestamp
    }
</div>