name: Publish

on:
  push:
    branches:
      - master

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-ruby@v1
        with:
          version: '2.6'

      - name: Install the CloudFoundry CLI
        if: github.ref == 'refs/heads/master'
        run: |
          wget https://s3-us-west-1.amazonaws.com/cf-cli-releases/releases/v6.48.0/cf-cli-installer_6.48.0_x86-64.deb
          sudo dpkg -i cf-cli-installer_6.48.0_x86-64.deb

      - uses: actions/checkout@master
      - name: Build site
        if: github.ref == 'refs/heads/master'
        run: |
          gem install bundler
          bundle config path vendor/bundle
          bundle install --jobs 4 --retry 3
          bundle exec middleman build

      - name: Deploy site to staging
        if: github.ref == 'refs/heads/master'
        env:
          CF_USERNAME: ${{ secrets.CF_USERNAME }}
          CF_PASSWORD: ${{ secrets.CF_PASSWORD }}
        run: |
          cf api https://api.london.cloud.service.gov.uk
          cf auth
          cf target -o national-lottery-heritage-fund
          cf target -s sandbox
          cf v3-cancel-zdt-push dsdt-tech-docs || true
          cf v3-apply-manifest -f manifest.yml
          cf v3-zdt-push dsdt-tech-docs  --wait-for-deploy-complete